<div class="clap-container">
  <h5>Enter text here:</h5>
  <textarea ref-textarea [(ngModel)]="inputText" rows="4"></textarea>
  <h5>Here's your clappified text:</h5>
  <app-clap-text #clapText [inputText]="inputText" [uppercase]="uppercase"></app-clap-text>
  <div class="uppercase-toggle">
    <h5>Trynna yell at someone?</h5>
    <p>
      <span class="toggle-label" [class.active]="!uppercase">Nope</span>
      <mat-slide-toggle [(ngModel)]="uppercase"></mat-slide-toggle>
      <span class="toggle-label" [class.active]="uppercase">YUP</span>
    </p>
  </div>
  <div class="button">
    <a href="#" class="btn btn-primary" (click)="copyText($event, clapText.clapText)">👏Copy👏</a>
  </div>
</div>
