.clap-container {
  /*border: 10px solid transparent;*/
  border-style: solid;
  border-width: 10px;
  padding: 10px;
  -moz-border-image: url("../../../assets/img/claps-border.png") 33% round;
  -webkit-border-image: url("../../../assets/img/claps-border.png") 33% round;
  -o-border-image: url("../../../assets/img/claps-border.png") 33% round;
  border-image: url("../../../assets/img/claps-border.png") 33% round;
}

.button {
  text-align: center;
}

span.toggle-label {
  vertical-align: top;
}

.mat-slide-toggle {
  margin: 0;
}

span.toggle-label:not(active) {
  font-weight: lighter;
}

span.toggle-label.active {
  font-weight: bolder;
}

.uppercase-toggle {
  text-align: center;
}

.uppercase-toggle > p > * {
  display: inline-block;
}
